@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./Composants/buttons";
@import "./layout/header";
@import "./layout/nav";
@import "./layout/form";
@import "./layout/footer";
@import "./layout/containers";
@import "./layout/header";
@import "./pages/works";
@import "./pages/about";
@import "./pages/project";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
$color-primary:#9356dc;
$color-secondary:#fa79da;
$color-tertiaire: #99e2d0;
$typo-titres:'Shrikhand';
$typo-text:'Roboto';
$color-pink:linear-gradient(170deg,  #fa79da 10%, #9356dc 100%);
$bg-color:#f7e7e7;


 

@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); 
        opacity: 1; 
    }
    25%{
        -webkit-transform: rotate(120deg);
        transform:rotate(120deg) ;
        opacity: 1;
    }
    50% {
        -webkit-transform: rotate(160deg);
        transform: rotate(160deg);
        opacity:1;
    }
    75%{
        -webkit-transform: rotate(200deg);
        transform: rotate(200deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    } 
}

        /*--loader--*/


.loader__spinner {
    border-top:10px solid $color-secondary;
    border-bottom:10px solid $color-tertiaire;
    border-radius:50%;
    width: 300px;
    height:300px;
    animation: spin 3s  cubic-bezier(.56,.57,.62,.64)  reverse ;
    -webkit-animation: spin 3s  cubic-bezier(.56,.57,.62,.64)  reverse ;
    -moz-animation: spin 3s  cubic-bezier(.56,.57,.62,.64)  reverse ;
    left: calc(50% - 140px);
    top: calc(50% - 140px);
    z-index:3;
    opacity:0;  
    position:absolute;
}


@media (max-width:767px){
  
/*-------------header----------------*/


body{
    max-width:100%;
    margin:0;
    padding:0;
    }
.about{
    @include about;
        & .top_logo{
            display:block;
            width:11rem; 
            margin:1rem auto;
        }
}
.search{
    @include search;
        & .position{
            padding-top:.8rem;
            margin:auto;
        }  
            & .map {
                text-decoration: none;
                font-family: $typo-text;
                width:85%;
                font-size:1.1rem;
                font-weight:700;
                background-color: rgb(228, 227, 227);
                color: black;
                margin:.5rem 0 0 1.5rem;
            }
}       
.card_about{
    @include card-about;
    padding-bottom:3rem;
        .about_text_content{
            display:flex;
            flex-flow:column wrap;
            text-align:center;
            font-family: $typo-text;
            margin:1.7rem 0 0 0;
            h1{
                font-size:1.8rem;
                font-weight:900;
                margin:0;
            }
            h4{
                color: rgb(107, 107 ,107);
                font-size:1.2rem;
                font-weight:200;
                margin-top:1rem;
            }
        }
    }        
.explorer_btn{
     @include gradient-pink;
}     
.explorer_text_btn{
    @include text-gradient ; 
} 
              
.explorer_btn a{  
        text-decoration: none;     
}
         

/*-----MAIN CONTENT--------*/

.container{
    max-width:100%;
}
.titre_decouvrir{
    font-family:$typo-text;
    margin:3rem 0 2rem 1rem;
}

.decouvrir{
    max-width:100%;
    display:flex;
    flex-flow: column wrap;
    margin-bottom:2rem;
}
.btn{
    border:none;
    background-color: transparent;
    margin-bottom:.4rem;
    max-width:100%;
}

.menu_choisissez, .menu_composez, .menu_degustez{
    @include menu-accueil;
            &:hover {
                @include hover-accueil;
                    & > i{
                    color:$color-primary;
                }   
            }
}

.btn i{
    @include icone;           
    } 

.number{
    @include number;
}
.menu_text_content{
    @include text-content;
}

/*------CARD SHOWING MENU-----*/
.card_container{
    @include card-container;
    & h2{
        padding-bottom:5%;
    }
}
.card{
   @include card-restaurant;
}
.nouveau{
    @include nouveau;
}
.card_image{
    @include card-restaurant-image; 

}
.card_image img{
    @include restaurant-image;
}

.titre_resto{
    font-family: $typo-text;
    margin:2rem 0 0 1rem;
  
}
.card_text_content, em{
    @include card-text-content; 
    position: relative;     
}
.heart{
    width:45px;
    height:35px;
    position:relative;
    left:80%;
    top:-2rem;
}
.heart:before,
.heart:after{
    position:absolute;
    content:"";
    width:21px;
    height:31px;
    border-radius: 50px 50px 0 0 ;
    background-color: white;
    border: solid 2px grey;
    transition: color 4s ease-out;
}
.heart:before{
    left:21px;
    -webkit-transform: rotate(-45deg);    
    transform:rotate(-45deg);
    -webkit-transform-origin:0 100% ;
    transform-origin: 0 100%;
    background:white;
    border-bottom: none;
}
.heart:after{
    left:0px;
    -webkit-transform: rotate(45deg);    
    transform:rotate(45deg);
    -webkit-transform-origin:100% 100% ;
    transform-origin: 100% 100%;
    background: white; 
    border-left:none;
}
 .heart:hover::before, .heart:hover::after{
    cursor: pointer;
    transition: color 4s ease-out;
    background: $color-pink;
    border:none;
}


    /*----FOOTER----*/

footer{
    @include footer;
}
.bottom_logo{
    @include footer-logo; 
}
.footer_proposer, .footer_partenaire, .footer_mentions, .footer_contact{
    @include proposer-partenaire-mentions-contact;
}
footer i{
    @include icone;
}
}


@media screen and (min-width:768px){
   

body{
    max-width:100%;
    margin:0;
    padding:0;
}
.about{
     @include about;
         & .top_logo{
            display:block;
            width:20rem; 
            margin:1rem auto;
        }
}
.search{
    @include search;
        & .position{
            font-size:1.5rem;
            padding-top:.5rem;
            margin:auto ;
        }  
            & .map{
                font-family: $typo-text;
                border:none;
                text-decoration: none;
                width:85%;
                font-size:1.3rem;
                font-weight:700;
                background-color: rgb(228, 227, 227);
                color: black;
                padding-left:3rem;
            }
}       
.card_about{
    @include card-about;
        .about_text_content{
            display:flex;
            flex-flow:column wrap;
            text-align:center;
            font-family: $typo-text;
            margin:1.7rem 0 0 0;
             h1{
                font-size:1.8rem;
                font-weight:900;
                margin:0;
            }
            h4{
                color: rgb(107, 107 ,107);
                font-size:1.2rem;
                font-weight:200;
                margin-top:1rem;
            }
        }
}        
.explorer_btn{
        @include gradient-pink;
        .explorer_text_btn{
                @include text-gradient ; 
            } 
}              
.explorer_btn a{  
        text-decoration: none;
}
          
    
    /*-----MAIN CONTENT--------*/
    
.container{
    display:flex;
    flex-flow: column;
    max-width:100%;
}
.titre_decouvrir{
    font-family:$typo-text;
    margin:1rem auto 1rem auto;
}
.decouvrir{
    max-width:100%;
    display:flex;
    flex-flow: column wrap;
    margin:0 10rem 0 10rem;
}
.btn{
    border:none;
    background-color: transparent;
    margin-bottom:.4rem;
    max-width:100%;
}
 
.menu_choisissez, .menu_composez, .menu_degustez{
    @include menu-accueil;
    margin:auto;
            &:hover {
                @include hover-accueil;
                    & > i{
                    color:$color-primary;
                }   
            }
}
    
.btn i{
    @include icone;           
    } 
    
.number{
    @include number;
}
.menu_text_content{
    @include text-content;
}
    
    /*------CARD SHOWING RESTAURANT-----*/
.card_container{
    @include card-container;
}
.card{
    @include card-restaurant;
    width:75%;
    margin: auto auto 2rem auto;
}
.nouveau{
    @include nouveau;
}
.card_image{
    @include card-restaurant-image;  
}
.card_image img{
    @include restaurant-image;
}  
.titre_resto{
    font-family: $typo-text;
    margin:1rem auto; 
}
.card_text_content, em{
    @include card-text-content; 
    position: relative;   
}
.heart{
    width:45px;
    height:35px;
    position:relative;
    left:85%;
    top:-2rem;
}
.heart:before,
.heart:after{
    position:absolute;
    content:"";
    width:21px;
    height:31px;
    border-radius: 50px 50px 0 0 ;
    background-color: white;
    border: solid 2px grey;
    transition: color 4s ease-out;
}
.heart:before{
    left:21px;
    -webkit-transform: rotate(-45deg);    
    transform:rotate(-45deg);
    -webkit-transform-origin:0 100% ;
    transform-origin: 0 100%;
    background:white;
    border-bottom: none;
}
.heart:after{
    left:0px;
    -webkit-transform: rotate(45deg);    
    transform:rotate(45deg);
    -webkit-transform-origin:100% 100% ;
    transform-origin: 100% 100%;
    background: white; 
    border-left:none;
}
 .heart:hover::before, .heart:hover::after{
    cursor: pointer;
    transition: color 4s ease-out;
    background: $color-pink;
    border:none;
}

        /*----FOOTER----*/
    
footer{
    @include footer;
}
.bottom_logo{
     @include footer-logo; 
     margin:auto;
}
.footer_proposer, .footer_partenaire, .footer_mentions, .footer_contact{
    @include proposer-partenaire-mentions-contact;
    margin:auto;
}
footer i{
     @include icone;
    }
}



