@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/extensions";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
$color-primary:#9356dc;
$color-secondary:#fa79da;
$color-tertiaire: #99e2d0;
$typo-titres:'Shrikhand';
$typo-text:'Roboto';
$color-pink:linear-gradient( #fa79da 10%, #9356dc 100%);
$color-heart:linear-gradient(  $color-primary, $color-secondary);


 

@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform:rotate(0deg);
        transform: rotate(0deg); 
        opacity: 1; 
    }
    25%{
        -webkit-transform: rotate(120deg);
        -moz-transform:rotate(120deg);
        transform:rotate(120deg) ;
        opacity: 1;
    }
    50% {
        -webkit-transform: rotate(160deg);
        -moz-transfrom: rotate(160deg);
        transform: rotate(160deg);
        opacity:1;
    }
    75%{
        -webkit-transform: rotate(200deg);
        -moz-transform:rotate(200deg);
        transform: rotate(200deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform:rotate(360deg)
;        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    } 
}

        /*--loader--*/


.loader__spinner {
    border-top:10px solid $color-secondary;
    border-bottom:10px solid $color-tertiaire;
    border-radius:50%;
    width: 300px;
    height:300px;
    animation: spin 3s  cubic-bezier(.56,.57,.62,.64)  reverse ;
    -webkit-animation: spin 3s  cubic-bezier(.56,.57,.62,.64)  reverse ;
    -moz-animation: spin 3s  cubic-bezier(.56,.57,.62,.64)  reverse ;
    left: calc(50% - 140px);
    top: calc(30% - 70px);
    z-index:3;
    opacity:0;  
    position:absolute;
}

@keyframes backgroundtwo{
  0%{
    opacity:0;
    transform:scale(0);
  }
  50%{
    opacity:0.7;
      transform:scale(0.5);
  }
  100%{
    opacity:1;
      transform:scale(1);
  }
}
.heart{ 
    position:absolute;
    box-sizing: border-box;
    width: 30px;
    height:30px;
    top:20px;
    right:30px;

        & .fa-heart{
            position:absolute;
            background:white;
            font-size:1.5rem;  
            color: grey;
   
}
        & .fa-gradient{
            color:grey;
            background-color:white;
}
        & .fa-gradient:hover::before{
            cursor:pointer; 
            font-weight:bold;
            animation: backgroundtwo 4s ease-in-out;
    	    background:$color-heart;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
    }
}

     /*--MOBILE TABLET--*/


  
/*-------------header----------------*/


body{
    max-width:100%;
    margin:0;
    padding:0;
    }
.about{
    @include about;
        & .top_logo{
            display:block;
            margin:1rem auto;
        }
}
.search{
    @include search;
        & .position{
            padding-top:.8rem;
            margin:auto;
        }  
            & .map {
                text-decoration: none;
                font-family: $typo-text;
                width:85%;
                font-size:3rem;
                font-weight:700;
                background-color: rgb(228, 227, 227);
                color: black;
                margin:.5rem 0 0 1.5rem;
            }
}       
.card_about{
    @include card-about;
    padding-bottom:3rem;
        .about_text_content{
            display:flex;
            flex-flow:column wrap;
            text-align:center;
            font-family: $typo-text;
            margin:1.7rem 0 0 0;
            & h1{
                font-size:1.8rem;
                font-weight:900;
                margin:0;
            }
            & h4{
                color: rgb(107, 107 ,107);
                font-size:1.2rem;
                font-weight:200;
                margin-top:1rem;
            }
        }
    }        
.explorer_btn{
     @include gradient-pink;
}     
.explorer_text_btn{
    @include text-gradient ; 
} 
              
.explorer_btn a{  
        text-decoration: none;     
}
         

/*-----MAIN CONTENT--------*/

.container{
    max-width:100%;
}
.titre_decouvrir{
    font-family:$typo-text;
    margin:3rem 0 2rem 1rem;
}

.decouvrir{
    max-width:100%;
    display:flex;
    flex-flow: column wrap;
    margin-bottom:2rem;
}
.btn{
    border:none;
    background-color: transparent;
    margin-bottom:.4rem;
    max-width:100%;
}

.menu_choisissez, .menu_composez, .menu_degustez{
    @include menu-accueil;
            &:hover {
                @include hover-accueil;
                    & > i{
                    color:$color-primary;
                }   
            }
}

.btn i{
    @include icone;           
    } 

.number{
    @include number;
}
.menu_text_content{
    @include text-content;
}

/*------CARD SHOWING MENU-----*/
.card_container{
    @include card-container;
    & h2{
        padding-bottom:5%;
    }
}
.card{
   @include card-restaurant;
}
.nouveau{
    @include nouveau;
}
.card_image{
    @include card-restaurant-image; 

}
.card_image img{
    @include restaurant-image;
}

.titre_resto{
    font-family: $typo-text;
    margin:2rem 0 0 1rem;
  
}
.card_text_content{
    @include card-text-content; 
    & p{
        font-size:20px; font-weight:800;
    }
    & em{
        padding-left:.1rem;  font-size:18px;font-style: normal;
    }
}


    /*----FOOTER----*/

footer{
    @include footer;
}
.bottom_logo{
    @include footer-logo; 
}
.footer_proposer, .footer_partenaire, .footer_mentions, .footer_contact{
    @include proposer-partenaire-mentions-contact;
}
footer i{
    @include icone;
}
@media screen and (min-width:320px)
            and (max-width:699px){
.top_logo{
    width:11rem;
} 
.search{
    & .map{
    font-size: 1.1rem;
}
}
}

@media screen and (min-width:768px)
                and (max-width:1023px){
   
body{
    max-width:100%;
    margin:0;
    padding:0;
}
.about{
     @include about;
         & .top_logo{
            display:block;
            width:20rem; 
            margin:1rem auto;
        }
}
.search{
    @include search;
        & .position{
            font-size:1.5rem;
            padding-top:.5rem;
            margin:auto ;
        }  
            & .map{
                font-family: $typo-text;
                border:none;
                text-decoration: none;
                width:85%;
                font-size:1.3rem;
                font-weight:700;
                background-color: rgb(228, 227, 227);
                color: black;
                padding-left:3rem;
            }
}       
.card_about{
    @include card-about;
        .about_text_content{
            display:flex;
            flex-flow:column wrap;
            text-align:center;
            font-family: $typo-text;
            margin:1.7rem 0 0 0;
             h1{
                font-size:1.8rem;
                font-weight:900;
                margin:0;
            }
            h4{
                color: rgb(107, 107 ,107);
                font-size:1.2rem;
                font-weight:200;
                margin-top:1rem;
            }
        }
}        
.explorer_btn{
        @include gradient-pink;
        .explorer_text_btn{
                @include text-gradient ; 
            } 
}              
.explorer_btn a{  
        text-decoration: none;
}
          
    
    /*-----MAIN CONTENT--------*/
    
.container{
    display:flex;
    flex-flow: column;
    max-width:100%;
}
.titre_decouvrir{
    font-family:$typo-text;
    margin:1rem auto 1rem auto;
}
.decouvrir{
    max-width:100%;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin:0 1rem 0 1rem;
}
.btn{
    border:none;
    background-color: transparent;
    margin-bottom:.4rem;
    max-width:100%;
}
 
.menu_choisissez, .menu_composez, .menu_degustez{
    @include menu-accueil;
    margin:auto;
            &:hover {
                @include hover-accueil;
                    & > i{
                    color:$color-primary;
                }   
            }
}
    
.btn i{
    @include icone;           
    } 
    
.number{
    @include number;
}
.menu_text_content{
    @include text-content;
}
    
    /*------CARD SHOWING RESTAURANT-----*/
.card_container{
    @include card-container;
}
.card{
    @include card-restaurant;
    width:75%;
    margin: auto auto 2rem auto;
}
.nouveau{
    @include nouveau;
}
.card_image{
    @include card-restaurant-image;  
}
.card_image img{
    @include restaurant-image;
}  
.titre_resto{
    font-family: $typo-text;
    margin:1rem auto; 
}
.card_text_content{
    @include card-text-content;   
    & p{
        font-size:20px; font-weight:800;
    }
    & em{
        padding-left:.1rem;  font-size:18px;font-style: normal;
    }
}


        /*----FOOTER----*/
    
footer{
    @include footer;
}
.bottom_logo{
     @include footer-logo; 
     margin:auto;
}
.footer_proposer, .footer_partenaire, .footer_mentions, .footer_contact{
    @include proposer-partenaire-mentions-contact;
    margin:auto;
}
footer i{
     @include icone;
    }
}


@media screen and (min-width:1024px){

.top_logo{
    width:30rem;
}
.search{
    @include search;
    height:7rem;
    & .fa-map-marker-alt{
        font-size:3rem;
        padding:0;
    }

}
.titre_decouvrir{
    text-align: center;
}
.decouvrir{
    max-width:100%;
    display:flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin:0 0  2% 0%;
        & .menu_choisissez, .menu_composez, .menu_degustez{
        width:100%;
        }   
}
.titre_resto{
    width: 100%;
    text-align: center;
    height:1rem;
}
.card_container{
    display:flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding-bottom:5%;
        & .card{
        width:40%;
        margin:2% 0 2% 1%;
    }
}
footer{
    @include footer;
}
.bottom_logo{
     @include footer-logo; 
     margin:auto;
}
.footer_proposer, .footer_partenaire, .footer_mentions, .footer_contact{
    @include proposer-partenaire-mentions-contact;
    margin:auto;
}
footer i{
     @include icone;
    }
}



