/*---PAGE ACCUEIL---*/
/*----HEADER----*/
/*-----MAIN CONTENT----*/
/*----CARD SHOWING RESTAURANT----*/
/*---CARD MENU---*/
/*-----FOOTER----*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  max-width: 100%;
  margin: 0;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 0.5rem 0;
  max-width: 90%;
}

.top_logo_menu {
  width: 11rem;
  margin: auto;
}

.fa-arrow-left {
  margin: 1rem 0 1rem 2rem;
  font-size: 1.5rem;
  color: black;
}

@keyframes progheart {
  from {
    color: linear-gradient(#9356dc, #fa79da);
  }
  25% {
    color: linear-gradient(#9356dc, #fa79da);
  }
  50% {
    color: linear-gradient(#9356dc, #fa79da);
  }
  to {
    color: linear-gradient(#9356dc, #fa79da);
  }
}
.heart {
  position: absolute;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  right: 10%;
  top: 35%;
  bottom: 0;
}
.heart .fa-heart {
  position: absolute;
  background: #eaecec;
  font-size: 3rem;
  color: grey;
}
.heart .fa-gradient:hover {
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(#9356dc, #fa79da);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transform: scale(1);
  animation: progheart 3s ease-out;
}

.restaurant_name {
  display: flex;
  max-width: 100%;
  position: relative;
}
.restaurant_name h2 {
  font-family: "Shrikhand";
  font-weight: 200;
  font-size: 3rem;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.restaurant_image {
  display: flex;
  flex-flow: wrap;
  max-width: 100%;
  height: 30rem;
}
.restaurant_image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: -1;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  background: #eaecec;
  border-radius: 30px 30px 0 0;
  padding: 2rem 0 2rem 0;
  margin-top: -7rem;
}

.main {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.starter, .maincourse, .sweet {
  width: 95%;
  font-family: "Roboto";
  padding: 0 0 0.5rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.starter__heading, .maincourse__heading, .sweet__heading {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto";
  width: 60%;
}
.starter__heading::after, .maincourse__heading::after, .sweet__heading::after {
  content: "";
  display: block;
  width: 30px;
  border-bottom: solid 4px #99e2d0;
  padding-top: 0.3rem;
}
.starter__box, .maincourse__box, .sweet__box {
  background: white;
  width: 95%;
  margin-bottom: 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.box__price {
  position: absolute;
  right: 10px;
  top: 45px;
  font-weight: bold;
  font-family: "Roboto";
  margin-right: 10px;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 600ms linear;
  -moz-transition: transform 600ms linear;
  transition: transform 600ms linear;
}
.box__text {
  width: 85%;
}
.box__text h3, .box__text p {
  line-height: 20px;
  margin: 0.8rem 0rem 0.8rem 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box__text h3 {
  font-size: 1.06rem;
}
.box__text p {
  font-size: 0.8rem;
}

.boxAnim__container {
  background: #99e2d0;
  position: relative;
  border-radius: 0 20px 20px 0;
  height: 101%;
  width: 60px;
  opacity: 0;
  -webkit-transform-origin: right;
  -moz-transfrom-origin: right;
  transform-origin: right;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  transition: transform 1000ms linear;
}
.boxAnim__circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}
.boxAnim__icon {
  position: absolute;
  border-left: 5px solid #99e2d0;
  border-top: 5px solid #99e2d0;
  top: 10px;
  left: 12px;
  width: 10px;
  height: 12px;
  border-radius: 1px;
  transform: rotate(220deg);
}

@keyframes rotcircle {
  from {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
.box:hover {
  cursor: pointer;
}
.box:hover .box__price {
  -webkit-transform: translate(-70px);
  -moz-transform: translate(-70px);
  transform: translate(-70px);
}
.box:hover .box__text {
  width: 50%;
}
.box:hover .boxAnim__container {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transfrom: scale(1);
  transform: scale(1);
}
.box:hover .boxAnim__circle {
  -webkit-animation: rotcircle 1s ease-out;
  animation: rotcircle 1s ease-out;
  -webkit-transition: transform 1s ease-out;
  -moz-transition: transform 1s ease-out;
  transition: transform 1s ease-out;
}

@keyframes card-menu {
  0% {
    -webkit-transform: rotateY(300deg) translateY(-300px) skewY(-30deg);
    -moz-transform: rotateY(300deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(300deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    -moz-transfrom: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
.starter {
  -webkit-animation: card-menu 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: card-menu 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: card-menu 0.6s cubic-bezier(0.1, 0.46, 0.45, 0.94) both;
}

.maincourse {
  -webkit-animation: card-menu 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: card-menu 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: card-menu 0.8s cubic-bezier(0.1, 0.46, 0.45, 0.94) both;
}

.sweet {
  -webkit-animation: card-menu 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: card-menu 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: card-menu 1s cubic-bezier(0.1, 0.46, 0.45, 0.94) both;
}

.commander_btn {
  background: linear-gradient(#fa79da 10%, #9356dc 100%);
  display: flex;
  width: 14rem;
  border-radius: 4rem;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 3.2rem;
  margin: 3rem auto 3rem auto;
}

.commander_btn a {
  color: white;
  letter-spacing: 0.05rem;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Roboto";
  text-decoration: none;
}

footer {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  background-color: #3f3e3e;
  color: white;
  padding: 2rem 0 0 2rem;
  font-family: "Roboto";
}
footer > i {
  color: white;
}

.bottom_logo {
  display: block;
  width: 8rem;
  margin-bottom: 1rem;
  filter: invert(100%);
}

.footer_proposer, .footer_partenaire, .footer_mentions, .footer_contact {
  display: flex;
  flex-flow: wrap;
  line-height: 0.05rem;
}
.footer_proposer > i, .footer_partenaire > i, .footer_mentions > i, .footer_contact > i {
  margin: 1rem 0 0 0;
  padding-right: 0.5rem;
  line-height: 0.05rem;
  color: white;
}
.footer_proposer a, .footer_partenaire a, .footer_mentions a, .footer_contact a {
  text-decoration: none;
  color: white;
}

footer i {
  width: 1.3rem;
  margin-left: 1rem;
  font-size: 1.1rem;
  color: grey;
}

/*--MOBILE--*/
@media (max-width: 599px) {
  /*--- HEADER---*/
  header {
    margin-top: 1rem;
  }

  .restaurant_name h2 {
    font-size: 1.3rem;
    width: 70%;
    padding-left: 2rem;
  }

  .heart {
    width: 30px;
    height: 30px;
  }
  .heart .fa-heart {
    font-size: 1.5rem;
  }

  .restaurant_image {
    height: 20rem;
  }
  .restaurant_image img {
    max-width: 100%;
    height: 15rem;
    object-fit: cover;
  }

  .commander_btn {
    background: linear-gradient(#fa79da 10%, #9356dc 100%);
    display: flex;
    width: 14rem;
    border-radius: 4rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 3.2rem;
    margin: 3rem auto 3rem auto;
  }

  .commander_btn a {
    color: white;
    letter-spacing: 0.05rem;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Roboto";
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*--- HEADER---*/
  .logo {
    margin-left: 2rem;
  }

  .top_logo_menu {
    width: 15rem;
  }

  .restaurant_image {
    width: 100%;
    height: 25rem;
  }
  .restaurant_image img {
    object-fit: cover;
    width: 100%;
    height: 20rem;
  }

  .restaurant_name h2 {
    padding-left: 6rem;
    width: 100%;
  }

  .heart {
    width: 60px;
    height: 50px;
  }

  .fa-heart {
    font-size: 3rem;
  }

  .main {
    margin-left: 4rem;
  }

  /*---FOOTER---*/
  footer {
    display: flex;
    flex-flow: column;
    max-width: 100%;
    background-color: #3f3e3e;
    color: white;
    padding: 2rem 0 0 2rem;
    font-family: "Roboto";
  }

  .bottom_logo {
    display: block;
    width: 8rem;
    margin-bottom: 1rem;
    filter: invert(100%);
    margin: auto;
  }

  .footer_proposer, .footer_partenaire, .footer_mentions, .footer_contact {
    display: flex;
    flex-flow: wrap;
    line-height: 0.05rem;
    margin: auto;
  }
  .footer_proposer > i, .footer_partenaire > i, .footer_mentions > i, .footer_contact > i {
    margin: 1rem 0 0 0;
    padding-right: 0.5rem;
    line-height: 0.05rem;
    color: white;
  }
  .footer_proposer a, .footer_partenaire a, .footer_mentions a, .footer_contact a {
    text-decoration: none;
    color: white;
  }

  footer i {
    width: 1.3rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    color: grey;
  }
}
@media screen and (min-width: 1024px) {
  /*--- HEADER---*/
  header {
    margin-top: 1rem;
  }

  .logo {
    margin-left: 2rem;
  }

  .top_logo_menu {
    width: 20rem;
  }

  .restaurant_name {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .restaurant_name h2 {
    padding-left: 8%;
  }

  .restaurant_image {
    width: 100%;
    height: 30rem;
  }
  .restaurant_image img {
    object-fit: cover;
    width: 100%;
  }

  .starter, .maincourse, .sweet {
    width: 90%;
    margin: auto;
  }
  .starter__heading, .maincourse__heading, .sweet__heading {
    font-size: 1.5rem;
  }
  .starter__heading::after, .maincourse__heading::after, .sweet__heading::after {
    content: "";
    display: block;
    width: 40px;
    border-bottom: solid 4px #99e2d0;
    padding-top: 0.3rem;
  }
  .starter__heading h3, .starter__heading p, .maincourse__heading h3, .maincourse__heading p, .sweet__heading h3, .sweet__heading p {
    line-height: 27px;
  }
  .starter__heading h3, .maincourse__heading h3, .sweet__heading h3 {
    font-size: 1.5rem;
  }
  .starter__heading p, .maincourse__heading p, .sweet__heading p {
    font-size: 1.2rem;
  }

  /*----MAIN CONTENT----*/
  /*---FOOTER---*/
  footer {
    display: flex;
    flex-flow: column;
    max-width: 100%;
    background-color: #3f3e3e;
    color: white;
    padding: 2rem 0 0 2rem;
    font-family: "Roboto";
  }

  .bottom_logo {
    display: block;
    width: 8rem;
    margin-bottom: 1rem;
    filter: invert(100%);
    margin: auto;
  }

  .footer_proposer, .footer_partenaire, .footer_mentions, .footer_contact {
    display: flex;
    flex-flow: wrap;
    line-height: 0.05rem;
    margin: auto;
  }
  .footer_proposer > i, .footer_partenaire > i, .footer_mentions > i, .footer_contact > i {
    margin: 1rem 0 0 0;
    padding-right: 0.5rem;
    line-height: 0.05rem;
    color: white;
  }
  .footer_proposer a, .footer_partenaire a, .footer_mentions a, .footer_contact a {
    text-decoration: none;
    color: white;
  }

  footer i {
    width: 1.3rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    color: grey;
  }
}

/*# sourceMappingURL=restaurant.css.map */
