
header{
    margin-top: 3rem;
}
.top_logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:11rem;
}
.card_header{
    border: solid 1px;
    width:auto;
}
.position{
    border:solid 1px;
    width:1rem;
}