/*---PAGE ACCUEIL---*/
/*----HEADER----*/


@mixin gradient-pink {
    background: $color-pink;
    display:flex;
    width:14rem;
    border-radius:4rem;
    align-items: center ;
    justify-content:center ;
    margin:auto;
    height:3.2rem;
}

@mixin text-gradient {
    color:white;
    letter-spacing: .05rem;
    font-weight:500;
    font-size:1rem;
    font-family:$typo-text;
}

@mixin search {
    border-top:solid 2px;
    border-color:rgb(214, 214, 214);
    display:flex; 
    flex-flow: wrap;
    max-width:100%;  
    height:3rem; 
    background-color: rgb(228, 227, 227);
    margin-top:.5rem;
}
@mixin about {
    display:flex;
    flex-flow: column wrap;
    max-width:100%;
}
@mixin card-about{
    display:flex;
    flex-flow: column ;
    max-width: 100%;
    height:18rem;
    background-color: rgb(234,236,236);
}
@mixin text-about {
    display:flex;
    flex-flow:column wrap;
    text-align:center;
    font-family: $typo-text;
    margin:1.7rem 0 0 0;
          
}
  /*-----MAIN CONTENT----*/


@mixin menu-accueil {
    max-width:90%;
    border-radius:25px;
    display:flex;
    justify-content:start;
    font-family: $typo-text;
    cursor: pointer;
    font-size:1.3rem;
    background-color:#F0F0F0;
    align-items: center !important;
    margin: 0 0 0rem 1rem;
    box-shadow:0 .7rem .7rem 0 	#dddddd;
    color:black; 
}
@mixin hover-accueil {
    border-radius:25px;
    background-color:#f9eafa;
    box-shadow: 0 .7rem .7rem 0 #c7c7c7;
}
@mixin icone {
    width:1.3rem;
    margin-left:1rem;
    font-size:1.1rem;
    color:grey;
    }
@mixin text-content {
    color:black;
    width:75%;
    margin-left:.9rem;
    text-align: left;
    font-size:73%;
}
    
@mixin number {
    display: flex;
    justify-content: center;
    border-radius:50px;
    width:1.8rem;
    height:1.3rem;
    background-color: $color-primary;
    color:white;
    font-size:.9rem;
    margin-left: -.4rem;
    padding: .6rem 0 0 0;
}

/*----CARD SHOWING RESTAURANT----*/

@mixin card-container {
    display:flex;
    flex-flow:column wrap;
    max-width: 100%;
    background-color: rgb(234,236,236);
    padding: 0 0 5% 0;
    margin-top:1rem;
}
@mixin card-restaurant{
    display: flex;
    flex-flow: column;
    max-width:90%;
    border-radius:15px;
    cursor: pointer;
    background-color: white;
    padding-bottom:1rem;
    margin:0 0 5% 5%;
}
@mixin card-restaurant-image {
    max-width: 100%;
    border-radius:15px 15px 0 0 ;
    height:190px;
    position:relative;
}
@mixin restaurant-image {
    width: 100%;
    border-radius:15px 15px 0 0;
    height:190px;
    object-fit: cover;
}
@mixin card-text-content {
        font-family: $typo-text; font-style:normal; margin-left:1rem; line-height: .8rem;
        p{font-size:20px; font-weight:800;}em{margin-left:.1rem;  font-size:18px;}i{font-size:2em;  float:right; margin:1rem 1rem 0 0;
        } 
}
@mixin nouveau {
    width:4rem;
    color:green;
    background-color:$color-tertiaire;
    border-radius:5px;
    position:absolute;
    top:9px;
    right:16px;
    font-family: $typo-text;
    padding:.3rem .7rem .3rem .7rem;
}

            /*---CARD MENU---*/

@mixin boxshadow($color: $color-bkg) 
{
box-shadow: 2px 4px 8px 3px darken($color, 10%);
}

   

/*-----FOOTER----*/

@mixin footer {
    display:flex; 
    flex-flow: column; 
    max-width:100%; 
    background-color: rgb(63, 62, 62); 
    color:white; 
    padding:2rem 0 0 2rem;
    font-family: $typo-text;
    }
@mixin footer-logo{
    display: block;
    width:8rem;
    margin-bottom:1rem;
    filter:invert(100%);
}
@mixin proposer-partenaire-mentions-contact{
    display:flex;flex-flow: wrap; line-height: .05rem;
     & > i{margin:1rem 0 0 0;padding-right:.5rem; line-height: .05rem;color:white;
    } 
    a{ text-decoration: none; color:white;
    }
}




    
